# STEIN PY WEEK 1 DAY 1

# Class exercise

![](images/pushups.gif)

1. Open a new Jupyter notebook and call it "01 class exercise"  
2. Create the first cell as a Markdown cell and give it a Headline (single #) called Class exercise 1:  
3. Add this image to the cell: https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png using this syntax `![](image url)`  

4. The next cell should be a code cell that can take 2 floats from a user input and multiply them printing out the result.

## 1 + 2

# Class exercise 1:

## 3

![](https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png)

In [12]:
val1 = 3.0
val2 = 2.0
result = val1 * val2
type(result)

float

In [11]:
val1 = 3.0
val2 = 2.0
result = val1 * val2
result

6.0

## 3

In [ ]:
val1 = input("write a number")
val2 = input("write a number")
float(val1) * float(val2)

# 01-3 Exercises

![get_started](https://s-media-cache-ak0.pinimg.com/originals/9f/73/e3/9f73e3f8a958dbe03b0f76f8811a54a1.gif)

  1. Use the `range()` function to make a list of the odd numbers from 1 to 20. **Hint** in ipython and this notebooks you can see a functions help text by executing for example `range?`
  2. Create a list with the even number values from two to one million. Use `min()` and `max()` to make sure your list actually starts at two and ends at one million. Also, use the `sum()` function to compute the sum of all values. Time the execution time using `%timeit`.
  3. Create a list of the multiples of 3 - going from 3 to 300. **HINT: USE A LIST COMPREHENSION**
  4. A number raised to the third power is called a cube. For example, the cube of 2 is written as `2**3` in Python. Create a list of the first 10 cubes (that is, the cube of each integer from 1 through 10).

# 1

In [20]:
val1 = [num for num in range(1,20+1) if num % 2 != 0]
val1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [24]:
end = 20
  
# iterating each number in list 
for num in range(1, 20 + 1): 
      
    # checking condition 
    if num % 2 != 0: 
        print(num, end = " ")

1 3 5 7 9 11 13 15 17 19

# 2

In [26]:
import timeit
val2 = [num for num in range(2,1000000 +1) if num % 2 == 0]
print(max(val2),min(val2))
%timeit (max(val2),min(val2))

1000000 2
19 ms ± 338 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [27]:
import timeit

start = 2
end = 1000000
  
# iterating each number in list 
for num in range(start, end + 1): 
      
    # checking condition 
    if num % 2 == 0: 
        ##print(num, end = " ")

SyntaxError: unexpected EOF while parsing (<ipython-input-27-92ed850c885a>, line 11)

# 3

In [16]:
squares = [value**3 for value in range(3, 300)]
squares

[27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000,
 1030301,
 1061208,
 1092727,
 1124864,
 1157625,
 1191016,
 1225043,
 1259712,
 1295029,
 1331000,
 1367631,
 1404928,
 1442897,
 1481544,
 1520875,
 1560896,
 1601613,
 1643032,
 1685159,
 1728000,
 1771561,
 1815848,
 1860867,
 1906624,
 1953125,
 2000376,
 2048383,
 2097152,
 2146689,
 2197000,
 2248091,
 2299968,
 2352637,
 2406104,
 2460375,
 2515456,
 2571353,
 2628072,
 2685619,
 2744000,
 2803221,
 2863288,
 2924207,
 2985984,
 3048625,
 3112136,
 3176523,
 3241792,
 3307949,
 3375000,
 3442951,
 3511808,
 3581577,
 3652264,
 3723875,
 3796416,
 3869893,
 3944312,
 4019679,
 4096000,
 4173281,
 4251528,
 4330747,
 4410944,
 4492125,
 4574296,
 4657463,
 4741632,
 4826809,
 4913000,
 5000211,
 5088448,
 5177717,
 5268024,
 5359375,
 5451776,
 5545233,
 5639752,
 5735339,
 5832000,
 5929741,
 6028568,
 6128487,
 6229504,
 6331625,
 6434856,
 6539203,
 6644672,
 6751269,
 6859000,
 6967871,
 7077888,
 7189057,
 7301384,
 7414875,
 7529536,
 7645373,
 7762392,
 7880599,
 8000000,
 8120601,
 8242408,
 8365427,
 8489664,
 8615125,
 8741816,
 8869743,
 8998912,
 9129329,
 9261000,
 9393931,
 9528128,
 9663597,
 9800344,
 9938375,
 10077696,
 10218313,
 10360232,
 10503459,
 10648000,
 10793861,
 10941048,
 11089567,
 11239424,
 11390625,
 11543176,
 11697083,
 11852352,
 12008989,
 12167000,
 12326391,
 12487168,
 12649337,
 12812904,
 12977875,
 13144256,
 13312053,
 13481272,
 13651919,
 13824000,
 13997521,
 14172488,
 14348907,
 14526784,
 14706125,
 14886936,
 15069223,
 15252992,
 15438249,
 15625000,
 15813251,
 16003008,
 16194277,
 16387064,
 16581375,
 16777216,
 16974593,
 17173512,
 17373979,
 17576000,
 17779581,
 17984728,
 18191447,
 18399744,
 18609625,
 18821096,
 19034163,
 19248832,
 19465109,
 19683000,
 19902511,
 20123648,
 20346417,
 20570824,
 20796875,
 21024576,
 21253933,
 21484952,
 21717639,
 21952000,
 22188041,
 22425768,
 22665187,
 22906304,
 23149125,
 23393656,
 23639903,
 23887872,
 24137569,
 24389000,
 24642171,
 24897088,
 25153757,
 25412184,
 25672375,
 25934336,
 26198073,
 26463592,
 26730899]

# 4

In [17]:
cubes = []
for number in range(1, 11):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

# 01-4 Exercises!!!

![image](https://i.makeagif.com/media/2-03-2015/0GlCUD.gif)

#### Date Decoder. 
1. A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number. 
2. Create a dict suitable for decoding month names to numbers. 
3. Create a function which uses string operations to split the date into 3 items using the "-" character. 
4. Translate the month and return a tuple.
5. The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

# 1

# 2

# 3

# 4

# 5

# 01-Exercise 
1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with (key, value) being (number, squareroot of number)

3. Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

# 1

#### A

In [1]:
listN = ['Hname1','Hname2','name2','name1','Hname3']
print(listN)

['Hname1', 'Hname2', 'name2', 'name1', 'Hname3']

#### B

In [2]:
listNH = [name for name in listN if name.startswith('H')]
listNH

['Hname1', 'Hname2', 'Hname3']

#### C

In [5]:
oneToHund = [x**3 for x in range(1,100)]
oneToHund

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299]

#### D

In [6]:
tuples = [(len(x), x) for x in listN]
tuples

[(6, 'Hname1'), (6, 'Hname2'), (5, 'name2'), (5, 'name1'), (6, 'Hname3')]

#### E

In [8]:
stringLN = "dasdsad77d6das6d545"
int(''.join(i for i in stringLN if i.isdigit()))

7766545

## 2

In [9]:
diceList = set([(x+1, y+1) for x in range(6) for y in range(6)]);
diceList

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

#### A

In [14]:
nameKey = {x : len(x) for x in listN}
nameKey

{'Hname1': 6, 'Hname2': 6, 'name2': 5, 'name1': 5, 'Hname3': 6}

#### B

In [16]:
import math
numberSqrt = {x : math.sqrt(x) for x in range(10, 20)}
numberSqrt

{10: 3.1622776601683795,
 11: 3.3166247903554,
 12: 3.4641016151377544,
 13: 3.605551275463989,
 14: 3.7416573867739413,
 15: 3.872983346207417,
 16: 4.0,
 17: 4.123105625617661,
 18: 4.242640687119285,
 19: 4.358898943540674}

# 3

In [44]:
diceL = {i:0 for i in range(2,13)} 

d1 = range(1,7)
d2 = range(1,7)

for i in d1 : 
    for j in d2 : 
        diceL[i + j] += 1;

for i in diceL:
    diceL[i] = diceL[i]/36*100,2
    
diceL

{2: (2.7777777777777777, 2),
 3: (5.555555555555555, 2),
 4: (8.333333333333332, 2),
 5: (11.11111111111111, 2),
 6: (13.88888888888889, 2),
 7: (16.666666666666664, 2),
 8: (13.88888888888889, 2),
 9: (11.11111111111111, 2),
 10: (8.333333333333332, 2),
 11: (5.555555555555555, 2),
 12: (2.7777777777777777, 2)}